.field-background {
  background-color: #282c34;

}

.App-title {
  color: darkcyan;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
