.player{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    margin-top: 25px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: grab;
    position: relative;
    z-index: 32;
}

.blue{
    background: blue;

}

.red{
    background: red;

}

.name{
    position: relative;
    top: 45px;
    font-size: smaller;
}